.carousel_title{
    color: #3f3f3b;
    align-items: center;
    font-family: "Nunito Sans", sans-serif;
    display: flex;
    margin-left: 3%;
    font-size: 30px;
}

.container-with-dots{
    margin-top:30px;
    margin-bottom:50px;
    
}
.carousel-item-padding-40-px{
    margin-bottom:10px;
    align-items: center;
 
}
@media screen and (max-width: 700px) {
   
   
    .carousel-item-padding-40-px{
        margin-bottom:10px;
      
    }
   
  } 
