.carousel{
    margin-bottom: 3%;
    width:100%
    
}
.images{
    height: 382px;
    object-fit: cover;
}

@media screen and (max-width: 700px) {
    
    .carousel{
        margin-right: 0;
        margin-left: 0;
        margin-top: 2%;
        width: 100%;

    }
  } 

  