    .footer{
        display:flex;
        bottom: 0;
        width: 100%;
        text-align:center;
        align-items:center;
        position: relative;
        color: white;
        background-color:#282828;
        font-family:Arial;
        height:15rem; 
      }
      
    .h1{
        color:white;
        margin-top:5px;
        font-size: 0.7em;
      }
    .logo{
        width:100px;
        height:100px;
        margin-bottom:14px;
        margin-right:7px;
        margin-left:5px;
      }
    .divsocial{
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        }
    
    .divsocial h1{

        color:white;
        margin-top:1em;
        margin-bottom:5px;
        font-size: 0.8em;
      }
    .div{
        width:100%;
        align-items:center;
        display:flex;
        justify-content:space-between;
        margin-right:20px; 
        margin-left:20px;
      }
    .divlogo{
        display:flex;
        align-items:center;
        margin-left:-10px;
      }
      
    .copy{
        display:flex;
        align-items:center;
        margin-top:10px;
      }
      
    .conteiner-names{
        display:flex;
        flex-direction:column;
        font-size:15px;
        background-color: #1d1d1b;
        height: auto;
        width: 20rem;
        border-radius: 20px;

      }

      .container-user{
        padding-top: 13px;
        padding-bottom: 13px;
      }
      .container-user > a{
      padding: 5px;
      }

    .p{
        margin: 1.5px;
      }

    .division{
        margin-top:46px;
        margin-right:15px;
        position:absolute;
      }
    .conteiner-copyright{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    .conteiner-copyright > a{
      padding-left: 5px;
      padding-bottom: 5px;
    }

      @media screen and (max-width: 700px) {
        
        .footer{
          display:flex;
          bottom: 0;
          width: 100%;
          flex-direction: column;
          text-align:center;
          align-items:center;
          position: relative;
          justify-content: center;
          color: white;
          background-color:#282828;
          font-family:Arial;
          height:auto; 
        }
        .div{
          width:100%;
          align-items:center;
          display:flex;
          flex-direction: column;
          justify-content: center;
          margin-right:20px; 
          margin-left:20px;
        }
      } 
    