.header-conteiner{
  width:100%;
  display:flex;
  justify-Content:space-between;
  align-Items:center;      
}

.mqm-icon{
    width:57px;
}
.mqm-icon:hover{
  cursor:pointer;
}

.icon-style{
    width:30px;
    height:30px;
    margin-Right:5px;
}
.icon-style:hover{
  cursor:pointer;

}

.Buscador{
    display: flex;
    flex-direction: row-reverse !important;
  }

.search{
    align-self: center;
    position:absolute !important;
    padding-right:8px;
  }
.search:hover{
    cursor: pointer;
  }


@media   screen and (max-width: 640px) {
    .container-icons{
        display: flex;
        margin-left: 15px;
    }
    .icon{
        width: 57px;
        margin-right: 10px;
    }
  } 

  .container-icons{
    display: flex;
    align-items: center;
}