.Form-Conteiner{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 3vh;
}

.Titulo-H1{
   padding-bottom: 10px;
   display: flex;
   justify-content: center;
}

.text-muted{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.Button-Conteiner{

    display: flex;
    justify-content: center;
}
.error{
    color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}
