.conteiner{
    display: flex;
    height: 100%;
    max-height: fit-content;
}
.conteiner-img-spinner{

    height: 100%;
    width: 100%;    
    display: flex;
    margin: 20%;
    flex-direction: column;
    align-items: center;
    
}
.Spinner-img{
    margin: 10%;
    width: 200px;
    height: 200px;
}